
* {
  font-family: 'Roboto', sans-serif;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
  margin-bottom: 12px;
  height: 35px;
  font-weight: 900;
}

/* Temporary Css */
.form-control{
  margin-bottom: 12px!important;
  border:1px groove;
  border-color: lightgray;
}


.form{
  display:flex;
}

.success-title{
  margin-bottom: 60px;
  text-align:center
}

h3{
  color: #ffefe4
}

.list-item{
  margin-bottom: 35px;
  margin-top: 35px;
  font-weight: 4000;
  font-size:23px;
  color: #ffefe4
}
.image{
  margin-bottom:20px;
  width: 85%;
}

 .colorback{
  background-image: url(Asset\ 51200.png);
  padding-top: 25px;
  border-radius: 40px;
} 

.nurseLink{
  color: black;

}

.nurseLink:link{
  text-decoration: none;
  float:right;
  margin-right: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: 700;
}

textarea{
  width:90%
}

.lista-success{
  padding-left: 40px
}

.listCol{
  padding-left: 0
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #26B0B0;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-35%, -50%);
  text-align: center;
}

.submit-button{
  margin-top: 2rem;
  width:100%;
  background-color: #26B0B0;
  height: 50px;
  color: #FFF;
  border: 0px;
  box-shadow: 1px 1px 1px black;
  font-size: large;
  font-weight: 900;
}

label {
  float: left;
  margin-left: 7px;
  font-weight: 600;
  font-size: large;
  }
  
span {
  color: red
}

.obrigatorio {
  float: left;
  font-weight: 400;
  margin-top: 0.5rem;
}

h2 {
  font-weight: 900;
}

img {
  width: 23rem;
}

.carrousel {
  color: white;
}

a {
  text-decoration: none;
  color: white
}

.highlited{
  background-color:#26B0B0;
  max-width: 100%;
  margin: 0 auto;

  padding: 2rem 1rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}