.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  margin-bottom: 12px;
  height: 35px;
}

/* Temporary Css */
.form-control{
  margin-bottom: 12px!important;
}


.form{
  display:flex;
}

.error {
  color: red!important;
  margin-bottom: 5px;
  margin-top: 1px!important;
}

.completed{
  background-color:rgb(200, 230, 200)!important;

}

.table-bordered td, .table-bordered th{
  border: 1px solid black;
}

.success-title{
  margin-bottom: 60px;
  text-align:center
}

.list-item{
  margin-bottom: 35px;
  margin-top: 35px;
  font-weight: 4000;
  font-size:large
}

.image{
  margin-bottom:20px
}

.colorback{
  padding-top: 25px;
  background-color: rgb(163, 212, 245);
  border-radius: 40px;
}

.cardContainer{
  width: 65%;
}