.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  margin-bottom: 20px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px
}

/* Temporary Css */
.form-control{
  margin-bottom: 20px;
}

.card{
  width:65%
}

.form{
  display:flex;
}

.error {
  color: red
}